<html>
<head>
    <!-- Bootstrap Core CSS - NEEDS TO BE AN ABSOLUTE PATH -->
    <link href="{{ app.request.schemeAndHttpHost ~ asset('bundles/drillsight/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/drillsight/js/jquery.min.js') }}" type="text/javascript"></script>

</head>
<body>
	<h1 class="text-primary">DRILLSIGHT</h1>
	<h3>TAX INVOICE</h3>
	
	<div class="row">
		<table class="table table-hover">
	        <tr>
	        	<td>
	        		<div class="col-lg-4">	      
				        <div class="well">
				            <table class="table table-hover">
				                <tr>
				                    <td>{{ invoice.company.name }}</td>
				                </tr>
				                <tr>
				                    <td>{{ invoice.company.headOffice.address1 }},
				                    {% if invoice.company.headOffice.address2 %}<br/>{{ invoice.company.headOffice.address2 }}{% endif %}
				                    {{ invoice.company.headOffice.city }},
				                    <br/>{{ invoice.company.headOffice.state }} {{ invoice.company.headOffice.postcode }},
				                    {{ invoice.company.headOffice.country }}
				                    </td>
				                </tr>
				            </table>
				        </div>
				    </div>
				</td>
				<td>
				    <div class="col-lg-4">
				        <div class="well">	
				            <table class="table table-hover">
				                <tr>
				                    <td width="100px">Invoice #:</td><td class="text-right">{{ invoice.invoiceNumber }}</td>
				                </tr>
				                <tr>
				                    <td>Invoice Date:</td><td class="text-right">{{ invoice.invoiceDate | date( app.session.get('user_preferences')['dateFormat']) }}</td>
				                </tr>
				                
				                <tr>
				                    <td>Invoice Amount:</td><td class="text-right"><strong>{{ currency }} ${{ invoice.total | number_format(2, '.', ',') }}</strong></td>
				                </tr>
				                <tr>
				                    <td>Billing Period:</td><td class="text-right">{{ subscriptionStart | date("d M", app.user.timezone) }} - {{ subscriptionEnd | date("d M", app.user.timezone) }}</td>
				                </tr>
				            </table>
				        </div>
				    </div>
			    </td>
            </tr>
        </table>				    	    
	</div>
	
	{#----- SUBSCRIPTION MODULES ----- #}
	
	<table class="table table-hover">
        <tr>
            <th>Module</th>
            <th>Limit</th>
            <th>Price (ea)</th>
        </tr>
        {% set totalAmount=0 %}
        {% for subscription in subscriptions %}
        <tr>
            <td>{{ subscription.module.name }}</td>
            <td>{{ subscription.limitation.limitvalue }} {{ subscription.limitation.limittype }}</td>
            <td>{{ currency }} ${{ subscription.limitation.price | number_format(2, '.', ',') }}</td>
        </tr>
        {% set totalAmount = totalAmount + subscription.limitation.price %}
        {% endfor %}
         <tr>
            <td></td>
            <th>Total Amount</th>
            <th>{{ currency }} ${{ totalAmount | number_format(2, '.', ',') }}</th>
        </tr>
        <tr>
            <td></td>
            <th>Paid Amount</th>
            <th>{{ currency }} ${{ invoice.total | number_format(2, '.', ',') }}</th>
        </tr>
     </table>
</body>
</htm>
	
	
	