{% extends "DrillsightAdminBundle::layout.html.twig" %}

{% block content %}
{% include "DrillsightSystemBundle:Content:links.html.twig" %}

<h3>List of Charges in Stripe</h3>

 {% if charges|length == 100 %}   
    <p class="bg-info">Only the latest 100 charges made are being shown below</p>
 {% endif %}


<table class="table table-hover">
       
        <tr>
            <th>&nbsp;</th>
            <th>Date</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Status</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        
        {% if charges %}
               
            {% for charge in charges %}
        		<tr>
		            <td>&nbsp;</td>
		            <td>{{ charge.created | date( app.session.get('user_preferences')['dateFormat']) }}</td>
		            <td>{{ charge.currency |upper }}</td>
		            <td>{{ (charge.amount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ charge.status |capitalize }}</td>
		            <td><a href="{{ path('_admin_stripe_transaction', {'id': charge.balance_transaction, 'companyId': companyId }) }}">Transaction Details</a></td>
		            <td>&nbsp;</td>
		        </tr>
        	{% endfor %}
        	
        {% else %}
            <tr><td colspan='6'>No charges found</td></tr>
    	{% endif %}
        
</table>
{% endblock %}