{% extends "DrillsightAdminBundle::layout.html.twig" %}

{% block content %}
{% include "DrillsightSystemBundle:Content:links.html.twig" %}

<h3>List of Charges in Stripe</h3>


<table class="table table-hover">
       
        <tr>
            <th>&nbsp;</th>
            <th>Date</th>
            <th>Currency</th>
            <th>Paid Amount</th>
            <th>Refunded Amount</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        
        {% if charges %}
               
            {% for charge in charges %}
        		<tr>
		            <td>&nbsp;</td>
		            <td>{{ charge.dateCreated | date( app.session.get('user_preferences')['dateFormat']) }}</td>
		            <td>{{ charge.chargeCurrency |upper }}</td>
		            <td>{{ (charge.chargeAmount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ (charge.refundedAmount/100) | number_format(2, '.', ',') }}</td>
		            <td><a href="{{ path('_admin_stripe_transaction', {'id': charge.balanceTransactionId, 'companyId': companyId }) }}">Transaction Details</a></td>
		            <td>&nbsp;</td>
		        </tr>
        	{% endfor %}
        	
        {% else %}
            <tr><td colspan='6'>No charges found</td></tr>
    	{% endif %}
        
</table>
{% endblock %}