{% extends "DrillsightAdminBundle::layout.html.twig" %}

{% block content %}
{% include "DrillsightSystemBundle:Content:links.html.twig" %}



{% if transaction %}
	<div class="row">
		<div class="col-lg-6">
			<h3>Transaction Details</h3>
			<table class="table table-hover">     
				<tr>
					<th>&nbsp;</th>
			        <td>Date</td>
			        <td class="text-right">{{ transaction.created | date( app.session.get('user_preferences')['dateFormat']) }}</td>
			        <th>&nbsp;</th>
			    </tr>
			    <tr>
			    	<th>&nbsp;</th>
			        <td>Net Amount</td>
			        <td class="text-right">{{ transaction.currency |upper }} {{ (transaction.net/100) | number_format(2, '.', ',')}}</td>
			        <th>&nbsp;</th>
			    </tr>
			    
			    <tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>
			    
			
				<tr>
				    <th colspan='4'>Fee Details</th>
				</tr>
				
				{% if transaction.fee > 0 %}
				           
				    {% for fee in transaction.fee_details %}
					    <tr>
					    	<th>&nbsp;</th>
					        <td>{{ fee.description }}</td>
					        <td class="text-right">{{ fee.currency |upper }} {{ (fee.amount/100) | number_format(2, '.', ',') }}</td>
					        <th>&nbsp;</th>
					    </tr>
				    {% endfor %}
				    
				     <tr>
				     	<th>&nbsp;</th>
				        <th>Total Fee</th>
				        <th class="text-right">{{ transaction.currency |upper }} {{ (transaction.fee/100) |number_format(2, '.', ',') }}</th>
				        <th>&nbsp;</th>
				     </tr>			    	
				{% else %}
				    <tr><td colspan='3'>No Additional Fees Applied</td></tr>
				{% endif %}
				
				<tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>	
				<tr>
					<th>&nbsp;</th>
			        <th>Total Amount</th>
			        <th class="text-right">{{ transaction.currency |upper }} {{ (transaction.amount/100) |number_format(2, '.', ',') }}</th>
			        <th>&nbsp;</th>
			    </tr>
			    <tr>
					<th>&nbsp;</th>
			        <th>Total Amount</th>
			        <th class="text-right">{{ charge.currency |upper }} {{ (charge.amount/100) |number_format(2, '.', ',') }}</th>
			        <th>&nbsp;</th>
			    </tr>
			    {% if charge.amount_refunded>0 %}
				    <tr>
						<td>&nbsp;</td>
				        <td>Total Refunded Amount</td>
				        <td class="text-right">{{ charge.currency |upper }} {{ (charge.amount_refunded/100) |number_format(2, '.', ',') }}</td>
				        <td>&nbsp;</td>
				    </tr>
				    <tr>
						<th>&nbsp;</th>
				        <th>Total Balance</th>
				        <th class="text-right">{{ charge.currency |upper }} {{ ((charge.amount - charge.amount_refunded)/100) |number_format(2, '.', ',') }}</th>
				        <th>&nbsp;</th>
				    </tr>
			    {% endif %}
			    <tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>
			        
			</table>
		</div>
		<div class="col-lg-6">
			<h3>Refund Details</h3>
			<div class="panel panel-warning">
                <div class="panel-body">
                	{% if refunds.data is not empty %}
						{% for refund in refunds.data %}
		                    <div class="list">
		                        <div class="list-group-item">Refunded Date: {{ refund['created'] | date( app.session.get('user_preferences')['dateFormat']) }}</div>
		                        <div class="list-group-item">Refunded Amount: {{ refund['currency'] | upper }} {{ (refund['amount']/100) }}</div>
		                    </div><br/>
		                 {% endfor %}

                        <a href="{{ path('_admin_stripe_refund', { id: transaction.id, companyId: companyId }) }}" class="btn btn-danger">Make another Refund</a>
                    {% else %}
                        <p>No refunds made for this payment</p>
                        <a href="{{ path('_admin_stripe_refund', { id: transaction.id, companyId: companyId }) }}" class="btn btn-primary">Make a Refund</a>
                    {% endif %}
                </div>
            </div>
		</div>
	</div>
{% endif %}

{% endblock %}