{% extends "DrillsightAdminBundle::layout.html.twig" %}

{% block javascripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_XWOUkjrukaLN0nhfG8bUjTny');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
{% endblock %}




{% block content %}
{% include "DrillsightSystemBundle:Content:links.html.twig" %}

<h3>Make Manual Payment</h3>

<form action="{{ path('_admin_stripe_manual_pay', { companyId: companyId }) }}" method="POST" id="payment-form">
  <div id="error-message" class="alert alert-danger" style="display:none;"><span class="payment-errors text-danger"></span></div>
	
  <div class="form-row">
    <label>
      <span>Name on Card</span>
      <input type="text" size="20" data-stripe="name" class="form-control" />
    </label>
  </div>
  	
  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" class="form-control" />
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" class="form-control"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM)</span>
      
      <input type="text" size="2" data-stripe="exp-month" class="form-control"/>
     </label>
     <label>
    <span>(YYYY)</span>
    
    	<input type="text" size="4" data-stripe="exp-year" class="form-control" />
    </label>
  </div>
  
  <div class="form-row">
    <label>
      <span>Payment Amount </span>
      <input type="text" size="4" class="form-control" name="payment"/>
    </label>
  </div>
  <input type="hidden" size="4" class="form-control" name="companyId" value="{{ companyId }}"/>

  <button type="submit" class="btn btn-primary">Make Payment</button>
</form>
{% endblock %}
