{% extends "DrillsightAdminBundle::layout.html.twig" %}

{% block content %}
{% include "DrillsightSystemBundle:Content:links.html.twig" %}

<h3>Transaction Details</h3>

{% if transaction %}
	<div class="row">
		<div class="col-lg-6">
			<table class="table table-hover">     
				<tr>
					<th>&nbsp;</th>
			        <td>Date</td>
			        <td class="text-right">{{ transaction.created | date( app.session.get('user_preferences')['dateFormat']) }}</td>
			        <th>&nbsp;</th>
			    </tr>
			    <tr>
			    	<th>&nbsp;</th>
			        <td>Net Amount</td>
			        <td class="text-right">{{ transaction.currency |upper }} {{ (transaction.net/100) | number_format(2, '.', ',')}}</td>
			        <th>&nbsp;</th>
			    </tr>
			    
			    <tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>
			    
			
				<tr>
				    <th colspan='4'>Fee Details</th>
				</tr>
				
				{% if transaction.fee > 0 %}
				           
				    {% for fee in transaction.fee_details %}
					    <tr>
					    	<th>&nbsp;</th>
					        <td>{{ fee.description }}</td>
					        <td class="text-right">{{ fee.currency |upper }} {{ (fee.amount/100) | number_format(2, '.', ',') }}</td>
					        <th>&nbsp;</th>
					    </tr>
				    {% endfor %}
				    
				     <tr>
				     	<th>&nbsp;</th>
				        <th>Total Fee</th>
				        <th class="text-right">{{ transaction.currency |upper }} {{ (transaction.fee/100) |number_format(2, '.', ',') }}</th>
				        <th>&nbsp;</th>
				     </tr>			    	
				{% else %}
				    <tr><td colspan='3'>No Additional Fees Applied</td></tr>
				{% endif %}
				
				<tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>	
				<tr>
					<th>&nbsp;</th>
			        <th>Total Amount</th>
			        <th class="text-right">{{ transaction.currency |upper }} {{ (transaction.amount/100) |number_format(2, '.', ',') }}</th>
			        <th>&nbsp;</th>
			    </tr>
			    <tr>
					<th>&nbsp;</th>
			        <th>Total Amount</th>
			        <th class="text-right">{{ charge.currency |upper }} {{ (charge.amount/100) |number_format(2, '.', ',') }}</th>
			        <th>&nbsp;</th>
			    </tr>
			    {% if charge.amount_refunded>0 %}
				    <tr>
						<td>&nbsp;</td>
				        <td>Total Refunded Amount</td>
				        <td class="text-right">{{ charge.currency |upper }} {{ (charge.amount_refunded/100) |number_format(2, '.', ',') }}</td>
				        <td>&nbsp;</td>
				    </tr>
				    <tr>
						<th>&nbsp;</th>
				        <th>Total Balance</th>
				        <th class="text-right">{{ charge.currency |upper }} {{ ((charge.amount - charge.amount_refunded)/100) |number_format(2, '.', ',') }}</th>
				        <th>&nbsp;</th>
				    </tr>
			    {% endif %}
			    <tr>
					<td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <td>&nbsp;</td>
			        <th>&nbsp;</th>
			    </tr>
			        
			</table>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-warning">
                <div class="panel-body">
                	<form action="" method="post" {{ form_enctype(form) }} >
				
				        <table class="table">
				            <tr>
				                <td>
				                    {{ form_label(form.amount, 'Refund Amount (' ~ charge.currency |upper ~ ') : ') }}
				                </td>
				                <td>
				                    {{ form_widget(form.amount) }}
				                </td>
				            </tr>
				            <tr>
				                <td>
				                </td>
				                <td>
				                    {{ form_widget(form.submitRefund) }}
				                </td>
				            </tr>
				        </table>
				
				        <div class="btn-group" role="group">
				            
				        </div>
				
				        <div class="panel">
				            <div class="panel-body">
				                {{ form(form) }}
				            </div>
				        </div>
				
				    </form>
                </div>
            </div>
		</div>
	</div>
{% endif %}

{% endblock %}