{% extends "DrillsightCustomerBundle::layout.html.twig" %}

{% block content %}

<p>Credit Card No : XXXX XXXX XXXX {{ last4 }}</p>
<p>Expiry : {{ exp_month }}/{{ exp_year }}</p>


{% endblock %}