{% extends "DrillsightCustomerBundle::layout.html.twig" %}

{% block content %}

<p>{{ message }}</p>
<p>Stripe Customer ID: {{ stipeCustomerId }}</p>
<p>Stripe Card  ID: {{ stripeCardId }}</p>
<p>Stripe Plan ID: {{ planId }}</p>

{% endblock %}