{% extends "DrillsightCustomerBundle::layout.html.twig" %}

{% block content %}


<p><a href="{{ path('_customer_stripe_complete', {'invoiceId': invoiceId, 'stripeToken': stripeToken,}) }}">Confirm Payment</a></p>

{% endblock %}