{% extends "DrillsightSystemBundle::emailLayout.html.twig" %}

{% block email %}
	<p>
    	Hi {{ to_name }},
 	</p>
	<p>
    	Your company credit card is due to expire soon.
    </p> 
    
    <table width="350px" style="border: 2px solid #4A93B8;" cellpadding="5">
    	<tr>
    		<td width="100px">Name on Card</td>
    		<td>: {{ card.name }}</td>
    	</tr>
    	<tr>
    		<td>Card Number</td>
    		<td>: XXXX XXXX XXXX {{ card.last4 }}</td>
    	</tr>
    	<tr>
    		<td>Card Expiry</td>
    		<td>: {{ card.exp_month }}/{{ card.exp_year }}</td>
    	</tr>
    </table>
    
    <p>
    	Please update your new credit card details in your <a href="{{ url('_customer_account') }}">account</a> at Drillsight.
    </p> 
    <p>
    Kind regard
    </p>
{% endblock %} 