{% extends "DrillsightSystemBundle::emailLayout.html.twig" %}

{% block email %}
	<p>
    	Hi {{ to_name }},
 	</p>
	<p>
    	We have processed a payment for your Drillsight subscription.<br/>
		Please find the invoice attached.
    </p>  
    <p>
    Kind regard
    </p>
{% endblock %} 