{% extends "DrillsightSystemBundle::emailLayout.html.twig" %}

{% block email %}
	<p>
    	Hi {{ to_name }},
 	</p>
	<p>
    	We were unable to process a payment for your next subscription period with Drillsight.<br/>
    	Below are your company credit card details in your account.
    </p> 
    
    <table width="350px" style="border: 2px solid #4A93B8;" cellpadding="5">
    	<tr>
    		<td width="100px">Name on Card</td>
    		<td>: {{ card.name }}</td>
    	</tr>
    	<tr>
    		<td>Card Number</td>
    		<td>: XXXX XXXX XXXX {{ card.last4 }}</td>
    	</tr>
    	<tr>
    		<td>Card Expiry</td>
    		<td>: {{ card.exp_month }}/{{ card.exp_year }}</td>
    	</tr>
    </table>
    
    <p>
    	Please make sure you have sufficient funds in the credit card
    	or update your credit card details with a new one in your <a href="{{ url('_customer_account') }}">account</a> at Drillsight, 
    	in order to avoid your account being cancelled.
    </p> 
    <p>
    Kind regard
    </p>
{% endblock %} 